<ul>
    <li role="nav-item" *ngIf="currentLanguage !== 'pl'">
      <a class="nav-link" (click)="toggleLanguage('pl')">polish</a>
    </li>
    <li role="nav-item" *ngIf="currentLanguage !== 'en'">
      <a class="nav-link" (click)="toggleLanguage('en')">english</a>
    </li>
    <li role="nav-item" *ngIf="currentLanguage !== 'cz'">
      <a class="nav-link" (click)="toggleLanguage('cz')">český</a>
    </li>
    <li role="nav-item" *ngIf="currentLanguage !== 'de'">
      <a class="nav-link" (click)="toggleLanguage('de')">deutsch</a>
    </li>
</ul>